<div class="image-container">
    <img src="assets\loan1.avif" alt="img" class="image">
    <!-- <div class="overlay-text"> -->
    <span class="overlay-text">We treat each customer as an individual,<br>
        not a number</span>
    <button class="overlay-button">Exlpore All</button>
</div>
<div class="container text-center p-3 mt-4">
    <div class="row">
        <div class="col-3 col-sm-3">
            <div class="card1" style="width: 18rem;">
                <img src="assets\gold.avif" class="card-img-top" alt="gold_loan">
                <div class="card-body">
                    <h5 class="card-title">Gold Loan</h5>
                    <p class="card-text">Golden Opportunities: Empower Your Dreams with Gold Loans.</p>
                    <h6><a
                            href="https://campaigns.icicibank.com/casa/goldLoan/main/index.html?utm_source=google&utm_medium=search&utm_campaign=icicibank-a4-gl_7states-search-generic-exact-jun23&utm_content=google-search-icicibank-a4-gl_7states-search-generic-exact-jun23-performance-na-cpc-Gold-Loan-na-gold-loan&utm_term=gold-loan&utm_lms=google-search-icicibank-a4-gl_7states-search-generic-exact-jun23-performance-na-cpc-Gold-Loan-na-gold-loan&gad_source=1&gclid=CjwKCAiA3JCvBhA8EiwA4kujZj6sPDa3Bby0GNWRZjAfYFEZCZHfZreSfVd9tevV2GyBBEjZeFZg3BoCUYkQAvD_BwE">learm
                            more</a></h6>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3">
            <div class="card2" style="width: 18rem;">
                <img src="assets\homeloan.jpg" class="card-img-top" alt="home_loan">
                <div class="card-body">
                    <h5 class="card-title">Home Loan</h5>
                    <p class="card-text">Home Dreams Unfold: Explore Flexible and Affordable Home Loans with Us.</p>
                    <h6><a
                            href="https://campaigns.icicibank.com/home-loan-bau-v3/index.html?&gclsrc=aw.ds&utm_source=google-generic&utm_medium=cpc&utm_campaign=icicibank-a2-hl-search-generic-em&utm_content=home-loan&utm_term=home%20loan&utm_lms=google-icicibank-a2-hl-search-generic-em-home-loan-home%20loan&pl=&matchtype=e&gad_source=1&gclid=CjwKCAiA3JCvBhA8EiwA4kujZmQSoz7A-enQuA__oypkWID2nj3VBC9jicRKSKL9pU_Bb-E2y6rK4BoCEc4QAvD_BwE">learm
                            more</a></h6>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3">
            <div class="card5" style="width: 18rem;">
                <img src="assets\vehicle_loan.avif" class="card-img-top" alt="vehicle_loan">
                <div class="card-body">
                    <h5 class="card-title">Vehicle Loan</h5>
                    <p class="card-text">Drive Your Dreams: Navigate the Roads of Possibility with Our Vehicle Loan
                        Solutions.</p>
                    <h6><a href="https://www.icicibank.com/personal-banking/loans/car-loan">learm more</a></h6>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3">
            <div class="card3" style="width: 18rem;">
                <img src="assets\edu.jpg" class="card-img-top" alt="education_loan">
                <div class="card-body">
                    <h5 class="card-title">Education Loan</h5>
                    <p class="card-text">Invest in Knowledge: Empower Your Future with Our Education Loan Solutions.</p>
                    <h6><a href="https://www.bankofbaroda.in/personal-banking/loans/education-loan">learm more</a></h6>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-3 col-sm-3">
            <div class="card3" style="width: 18rem;">
                <img src="assets\edu.jpg" class="card-img-top" alt="education_loan">
                <div class="card-body">
                    <h5 class="card-title">Education Loan</h5>
                    <p class="card-text">Invest in Knowledge: Empower Your Future with Our Education Loan Solutions.</p>
                    <h6><a href="https://www.bankofbaroda.in/personal-banking/loans/education-loan">learm more</a></h6>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3">
            <div class="card4" style="width: 18rem;">
                <img src="assets\personal_loan.jpg" class="card-img-top" alt="personal_loan">
                <div class="card-body">
                    <h5 class="card-title">Personal Loan</h5>
                    <p class="card-text">Unleash Possibilities: Your Personalized Journey Awaits with Our Loan
                        Solutions.</p>
                    <h6><a href="https://www.icicibank.com/personal-banking/loans/personal-loan">learm more</a></h6>
                </div>
            </div>
        </div>
        <div class="col-3 col-sm-3">
            <div class="card6" style="width: 18rem;">
                <img src="assets\agri_loan.jpg" class="card-img-top" alt="agri_loan">
                <div class="card-body">
                    <h5 class="card-title">Agricultural Loan</h5>
                    <p class="card-text">Sow Success, Reap Prosperity: Partner with Us for Agricultural Loan to Your Growth.
                    </p>
                    <h6><a href="https://www.bankofbaroda.in/business-banking/rural-and-agri/loans-and-advances">learm
                            more</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="assets\logo.png" alt="Secure Bank Network Logo">
      </div>
      <div class="footer-info">
        <h4>Secure Bank Network</h4>
        <p>Address: Near Symbiosis Bhavan, Pune</p>
        <p>Phone: +91 9657795194</p>
        <p>Email: sbn.securebanknetwork@gmail.com</p>
      </div>
      <div class="footer-services">
        <h4>Services</h4>
        <ul>
          <li><a href="#">Personal Banking</a></li>
          <li><a href="#">Business Banking</a></li>
          <li><a href="#">Loans & Mortgages</a></li>
          <li><a href="#">Investments</a></li>
          <li><a href="#">Online Banking</a></li>
          <li><a href="#">Mobile Banking</a></li>
        </ul>
      </div>
      <div class="footer-social">
        <h4>Follow Us</h4>
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2024 Secure Bank Network. All rights reserved.</p>
    </div>
  </footer>
  