<div class="m-2 flex items-center justify-center coverparentspace">
    <div class="tabular--wrapper">
        <h1 class="main--title text-center"><span>User Details</span></h1>
        <div class="table--conatiner">
            <table>
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Account Number</th>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Address</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of userList ">
                        <!-- {{u}} -->
                        <td>{{u.id}}</td>
                        <td>{{u.account.accountNumber}}</td>
                        <td>{{u.name}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4 flex items-center justify-center">
        <a routerLink="/adminDashbord" type="button"
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Go
            to Dashboard</a>
    </div>

</div>